body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.menubar {
  width: 200px;
}

.menubar-item {

}

.menubar-item.active {
  background: lightsalmon;
}

.content {
  flex: 1;
}
